/* 웹폰트 */
@font-face {
  font-family: "PFStardust";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 전체 페이지 스타일 설정 */
body {
  font-family: "PFStardust", sans-serif;
  text-align: center;
  padding: 20px;

  background-color: #f0f0f0;
  color: black;
  line-height: 1.2;
  background-image: url("images/background-image1.png");
  background-attachment: scroll;
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 200vh;
}
.pokemon-list,
.type-buttons,
.pokemon-detail {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
}

/* 제목 스타일 */
h1 {
  font-size: 300%;
  margin: 70px;
  color: white;
  text-shadow: -2px 0px rgb(0, 56, 161), 0px 2px rgb(0, 56, 161),
    2px 0px rgb(0, 56, 161), 0px -2px rgb(0, 56, 161);
}
/* 태양/달 아이콘 버튼 스타일 */
.theme-toggle-btn {
  position: absolute;
  top: 40px;
  right: 100px;
  background: none;
  border: none;
  cursor: pointer;
}

.theme-toggle-btn img {
  width: 70px;
  height: 70px;
}
.theme-toggle-btn :hover {
  transform: scale(1.3);
}

/* 기본 테마 스타일 (라이트 모드) */
body {
  font-family: "PFStardust", sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  color: black;
  background-image: url("images/background-light.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
}

/* 다크 모드 스타일 */
body.dark-mode {
  background-color: #333;
  color: white;
  background-image: url("images/background-dark.png"); /* 다크 모드용 배경 이미지 */
}

/* 제목 스타일 */
h1 {
  font-size: 300%;
  margin: 70px;
  color: white;
  text-shadow: -2px 0px rgb(0, 56, 161), 0px 2px rgb(0, 56, 161),
    2px 0px rgb(0, 56, 161), 0px -2px rgb(0, 56, 161);
}

/* 다크 모드에서 제목 스타일 */
body.dark-mode h1 {
  color: rgb(255, 255, 255); /* 다크 모드에서 제목 색상 변경 */
}

/* 검색 입력 창 스타일 */
input[type="text"] {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  width: 80%;
  max-width: 200px;
  border: 2px solid rgb(0, 56, 161);
}
body.dark-mode input[type="text"] {
  background-color: #000000;
  border: 2px solid rgb(165, 167, 172);
  color: white;
}

/* 포켓몬 목록 영역 스타일 */
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
  padding: 0 20px;
}

/* 개별 포켓몬 카드 스타일 */
.pokemon {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  background-color: white;
  color: black;
  width: 150px;
}
/* 다크 모드에서 포켓몬 카드 스타일 */
body.dark-mode .pokemon {
  background-color: #333; /* 다크 모드 배경색 */
  color: white; /* 다크 모드 텍스트 색상 */
  border-color: #555; /* 다크 모드에서 경계선 색상 */
}
.pokemon:hover {
  transform: scale(1.2);
}

.pokemon img {
  width: 80px;
  height: 80px;
}

/* 포켓몬 타입 아이콘 스타일 */
.pokemon-types img {
  margin-top: 5px;
}

/* 타입 필터 버튼 컨테이너 스타일 */
.type-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 40px 20px 40px;
}

/* 타입 필터 버튼 스타일 */
.type-buttons button {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  width: 60px;
  height: 60px;
  outline: none;
  transition: transform 0.2s ease;
}

/* 선택된 타입 필터 버튼 스타일 */
.type-buttons button.active {
  transform: scale(1.3);
}

/* 포켓몬 상세 정보 창 스타일 */
#pokemonDetail {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 950px;
  height: 700px;
  background-color: white;
  border-radius: 10px;
  padding: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

/* 포켓몬 상세 정보 내부 스타일 */
.pokemon-info {
  background-image: url("images/pokecom_width.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 다크 모드에서 포켓몬 상세 정보 창 스타일 */
body.dark-mode .pokemon-info {
  background-image: url("images/pokecom_width_dark.png"); /* 다크 모드용 배경 이미지 */
  background-size: cover; /* 배경 이미지가 영역을 꽉 채우도록 설정 */
  background-position: center; /* 배경 이미지가 가운데 정렬되도록 설정 */
}

/* 포켓몬 이미지와 기본 정보 영역 스타일 */
.pokemon-info .image-and-stats {
  width: 28%;
  height: 65%;
  text-align: center;
}
.image-and-stats p {
  height: 24px;
}
.pokemon-info .pokemon-img {
  width: 150px;
  height: 150px;
  margin: 20px 0;
}

/* 이름과 타입 아이콘을 함께 배치하는 영역 */
.pokemon-info .name-and-types {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 24px;
}

/* 능력치 영역 스타일 */
.pokemon-stats {
  width: 38%;
  text-align: center;
  margin-left: 30px;
}

/* 능력치 라인 스타일 */
.stat-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}

/* 스탯 이름 스타일 */
.stat-line span {
  width: 80px;
  text-align: left;
}

/* 능력치 바 스타일 */
.stat-bar {
  flex-grow: 1;
  background-color: #ddd;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}
.stat-bar-fill {
  height: 100%;
  background-color: #4caf50;
}

/* 닫기 버튼 스타일 */
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #ffffff;
}

.close-btn:hover {
  color: #000;
}

/* 모바일 장치에서 스타일 변경 (반응형 웹) */
@media (max-width: 968px) {
  .theme-toggle-btn img {
    width: 40px;
    height: 40px;
  }
  #pokemonDetail {
    width: 560px;
    height: 760px;
  }

  .pokemon-info {
    background-image: url("images/pokecom_height.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  body.dark-mode .pokemon-info {
    background-image: url("images/pokecom_height_dark.png"); /* 다크 모드용 배경 이미지 */
  }

  .pokemon-info .image-and-stats {
    width: 55%;
    height: auto;
    text-align: center;
  }
  .pokemon-info .stats p {
    margin: 10px 0;
  }

  .pokemon-info .pokemon-img {
    width: 150px;
    height: 150px;
    margin-top: 100px;
    margin-bottom: 0;
  }

  .pokemon-stats {
    width: 60%;
    text-align: center;
  }
  .pokemon-stats h3 {
    margin: 15px 0;
  }
  .stat-line {
    justify-content: space-between;
    margin-bottom: 5px;
  }
}
